@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.scrollableContainer {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Define a class that hides the scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: thin;
}

/* Define a Tailwind class that applies the custom styles using @apply */
.custom-scrollable-container {
  @apply scrollableContainer hide-scrollbar;
}

/* CSS file */
/* Hide scrollbar by default */
::-webkit-scrollbar {
  display: block;
  width: 4px;
}

/* Show scrollbar on parent element hover */
/* :hover::-webkit-scrollbar {
  display: block;
  width: 4px;
} */

/* Set scrollbar width and color */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #797fec;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 1;
  background: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent;
}

.borderBlack {
  @apply border border-black/10;
}

.custom-link:hover {
  @apply group-hover:translate-x-11;
}
